.input {
  display: grid;
  gap: 0.3rem;
}

.input label {
  color: #b5303b;
  font-size: 1.2rem;
  font-weight: 600;
}

.input input {
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #cccccc;
  transition: 0.2s;
}

.input input:focus {
  outline: none;
  border-color: #b5303b;
  background: #fff;
  box-shadow: 0 0 0 3px #eb949b;
}
