.form {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerCadastro {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.side_1 {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.imgCadastro {
  max-width: 80%;
  height: auto;
  opacity: 0.6;
}

.side_1 h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.side_2 {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 0 10px 10px 0;
}

.error {
  display: grid;
  gap: 0.5px;
  color: red;
  font-size: 12px;
}

.containerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.contentModal {
  padding: 0.5rem;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  align-items: start;
  gap: 0.5rem;
  max-height: 1000px;
  min-width: 300px;
}

.contentModal h1 {
  font-size: 0.8rem;
  color: #78292e;
  font-weight: 500;
}

.closed {
  position: absolute;
  background: #b51f21;
  padding: 4px;
  text-align: center;
  color: #fff;
  display: block;
  border-radius: 4px;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.form {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

.buttonModal {
  justify-self: center;
}

.errorModal,
.sucessModal {
  margin-top: 4px;
  color: #b51f21;
  justify-self: center;
}

.sucessModal {
  color: #25720e;
}
