.cadastro {
  display: grid;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  gap: 1rem;
  background-color: #78292e;
}

.titulo {
  font-size: 2rem;
  color: #78292e;
}

.forms {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #78292e;
  border-radius: 0.5rem;
}

.imagem,
.status {
  display: grid;
  gap: 0.3rem;
}

.imagem label,
.status h2 {
  color: #b5303b;
  font-size: 1.2rem;
  font-weight: 600;
}

.status {
  justify-self: start;
}

.button {
  justify-self: center;
}

.error {
  color: red;
}

.sucess {
  color: green;
}
